<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Header Component - Socially</title>
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <header class="aa-flex aa-flex-row aa-justify-between aa-padding-x-3xl aa-padding-y-xl">
            <div class="brand">
                <h1>Socially</h1>
            </div>
            <div class="search">
                <input type="search" placeholder="search for...">
            </div>
            <div class="auth">
                <button class="btn-rounded aa-padding-x-2xl aa-padding-y-sm aa-margin-x-sm" role="button" type="button">Login</button>
                <button class="btn-rounded aa-padding-x-2xl aa-padding-y-sm aa-margin-x-sm" role="button" type="button">Register</button>
            </div>
        </header>
    </body>
</html>